@charset "UTF-8"; /* Define o padrão de codificação do arquivo CSS para UTF-8 */

/* Reset básico para remover margens e paddings padrão */
* {
    margin: 0px; /* Remove margens padrão */
    padding: 0px; /* Remove paddings padrão */
    font-family: Arial, Helvetica, sans-serif; /* Define a fonte padrão para toda a página */
}

/* Define que HTML e BODY ocuparão 100% da altura e largura da tela */
html, body {
    height: 100vh; /* Altura total da janela de visualização */
    width: 100vw;  /* Largura total da janela de visualização */
}

/* Estilo do corpo da página */
body {
    background: url("/imagens/fundo-madeira.jpg") no-repeat top center; /* Define imagem de fundo sem repetição e centralizada no topo */
    background-size: cover; /* Faz a imagem cobrir toda a área visível */
    background-attachment: fixed; /* Fixa a imagem ao fundo para efeito parallax */
}

/* Container principal */
main {
    height: 100vh; /* Ocupa 100% da altura da viewport */
    position: relative; /* Define referência para posicionamento absoluto dos elementos internos */
}

/* Seção que representa a tela do telefone */
section#telefone {
    position: absolute; /* Permite posicionar a seção em relação ao MAIN */
    top: 50%; /* Move o topo do elemento para 50% da altura do MAIN */
    left: 50%; /* Move a esquerda do elemento para 50% da largura do MAIN */
    transform: translate(-50%, -50%); /* Centraliza o elemento no eixo X e Y */

    height: 627px; /* Altura fixa da imagem do iPhone */
    width: 311px; /* Largura fixa da imagem do iPhone */
    background: url('/imagens/frame-iphone.png') no-repeat; /* Define imagem do frame do iPhone sem repetição */
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais {
    text-align: right; /*Faz o menu dos botões ficar do lado direito da tela*/
    margin-right: 20px; /*Cria um espaço lateral entre os botões e a beira da tela a direita*/
}

section#redes-sociais img {
    width: 50px; /*Tamanho dos botões*/
    margin: 10px; /*Separa os botões*/
    border-radius: 50px; /*Faz os botões ficar redondo*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404); /*Cria um sombra nos botões*/
    box-sizing: border-box; /*Faz a borda fazer parte da caixa*/
}

/*Ao passar o mouse*/
section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.63); /*Cria uma borda*/
    transform: translate(-3px, -3px); /* Move o elemento 3px para a esquerda e 3px para cima */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623); /* Adiciona uma sombra ao elemento com deslocamento de 5px em X, 5px em Y, e um blur de 10px (corrigido de "10x" para "10px")*/
    transition: transform 0.5s, border 1s; /* Aplica uma transição suave de 0,5s quando a propriedade "transform" mudar (por exemplo, em hover) */
}